body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.site-content {
  flex: 1;
  padding-bottom: 115px;

  @include respond(mobile-wide) {
    padding-bottom: 100px;
  }
}